<%= render partial: 'entry', collection: @articles, as: :article, cached: true %>

<% if @articles.any? %>
    <%= will_paginate %>
<% else %>
    <p class="text-secondary font-italic">
        There is no article... yet!
        <% if signed_in? %>
            <%= link_to 'New Article', new_article_path %>
        <% end %>
    </p>
<% end %>
