.text-transparent {
    color: transparent;
}

.bg-pending {
    background-color: #FFDD99 !important;
}

.bg-hidden {
    background-color: #FFCCEE !important;
}

.article-title {
    color: #003377;
}

.main-content {
    padding: 15px;
}
