.text-transparent {
    color: transparent;
}

.bg-pending {
    background-color: #FFDD99 !important;
}

.bg-hidden {
    background-color: #FFCCEE !important;
}

.bg-grey {
    background-color: #CCCCCC !important;
}

.article-title {
    color: #003377;
}

.main-content {
    background-color: #FFFFFF !important;
    box-shadow: 0 0 5px #888888;
    padding: 15px;
}
