.no-border {
    border: none;
    box-shadow: none !important;
}

.input-underline {
    border-bottom: 5px solid black;
    border-radius: 0;
    transition: border-color 0.5s;
}

.auto-resize {
    resize: none;
    overflow-y: hidden;
}

.text-transparent {
    color: transparent;
}

.bg-pending {
    background-color: #FFDD99 !important;
}

.bg-hidden {
    background-color: #FFCCEE !important;
}

.markdown-content img:not(.style-as-is) {
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
