.no-border {
    border: none;
    box-shadow: none !important;
}

.input-underline {
    border-bottom: 5px solid black;
    border-radius: 0;
}

.editor-textarea {
    resize: none;
    overflow-y: hidden;
    font-size: 12px;
}
